/* John Hagens */
body,
html {
    margin: 0;
    padding: 0;
}

.video-section {
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover; /* Cover entire viewport */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF; /* Change according to your design */
    z-index: 1;
}

/* Adjust font-size for responsive design */
@media (max-width: 768px) {
    .text-overlay span {
        font-size: 3vw; /* or use em */
    }
}

#text-fade {
    font-size: 36px;
    color: #fff;
    text-align: center;
}

.employee-section {
    text-align: center;
    padding: 50px 0;
    background-color: #dcce2d;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.employee-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.employee {
    flex: 0 0 auto;
    padding: 20px;
}

.employee a {
    text-decoration: none;
    color: black;
}

.employee a:hover {
    color: gray;
}

.employee img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .employee-row {
        justify-content: center;
    }
}

.employee a {
    text-decoration: none;
    
    color: black;    
}

.employee a:hover {
    color: rgb(249, 249, 249);
}


.contact-us {
    flex: 0 0 auto;
    padding: 20px;
}

.contact-us a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
  
}

.contact-us a:hover {
    color: black;
    text-decoration: none;
}

.carousel-section {
    padding: 40px 0;
}

.carousel-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.carousel-section p a {
    color: #030202;
    text-decoration: none;
}

.carousel-section p a:hover {
    text-decoration: underline;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}


.visit-us a {
    color: red;
}

.visit-us a:hover {
    color: rgb(191, 188, 35);
}

.carousel-border {
    border: 2px solid black;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.8);
}


.site-footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Align items to the center */
    text-align: center;
}
  
.footer-content p {
    margin: 0 20px; /* Add margin to the paragraph to give space around it */
}
  
.social-icon {
    color: white;
    text-decoration: none;
}
  
.social-icons img {
    width: 24px;
    height: 24px;
}
